
@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<h1>
    @ViewBag.StudentName
</h1>
<h3>Phone Number:  @ViewBag.PhoneNo</h3>
<h3>Email: @ViewBag.Email</h3>
<h3>Language: @ViewBag.Language</h3>
<h3> Socials: @ViewBag.LinkdIn</h3>
<h3>Skills : @ViewBag.Skill</h3>
<h3>Education: @ViewData["Education"]</h3>
<h3>Institute: @ViewData["Campus"]</h3>
<h3>Interest: @ViewData["Interest"] , @ViewData["Interest1"]</h3>


